.p-line-miss.nom-2.ex{
    left: 0 !important;
}

@media all and (max-width: 1250px) {

    .quatation-left, .quatation-right{
        display: none;
    }
    .quatation-left2, .quatation-right2{
        display: none;
    }
    .bigbig-font{
        font-size: 50px !important;
    }
    .p-line-miss.nom-2{
        top: -2rem !important;
    }
    .p-line-first.nom-2{
        top: -0.6rem !important;
    }
  }
@media all and (max-width: 995px) {

    .med-font2.bold.mb-4{
        margin-top: 8%;
    }
    .bigbig-font{
        font-size: 50px !important;
    }
    .p-line-miss.nom-2{
        top: -1rem !important;
    }
    .p-line-first.nom-2{
        top: -0.6rem !important;
    }
  }
@media all and (max-width: 750px) {

    .p-line-miss.nom-2.ex{
        top:0rem !important;
        width: 12%;
    }
    .w-80{
        width: 100% !important;
    }
    .first-gen-container{
        width: 100% !important;
    }
    .first-gen-container p,.first-gen-container h1,.first-gen-container h2{
        padding-left: 0% !important;
        padding-right: 10% !important;
    }
    .med-font2 {
        font-size: 15px;
    }
    .bigbig-font{
        font-size: 40px !important;
    }
    .contact-nomination img{
        left: 40%;
    }
    .slide-img{
        background-size: 135% 100%;
    }
    .first-quote{
        width: 100%;
        margin-top: 5rem;
    }
    .quate-text2{
        padding-inline: 2rem !important;
    }
    .quate2-img{
        top: -50%;
    }
    .Al-Maktoom-img{
        width: 70% !important;
    }
    .w-45{
        width: 100% !important;
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .products-option{
        width: 61% !important;
    }
    .p-line2{
        display: none;
    }
    .news-title{
        width: 100%;
    }
    .first-gen-container img{

        margin-top: 0 !important;
    }
    .p-line-miss.nom-2{
        top: -0.5rem !important ;
    }
    .p-line-first.nom-2{
        top: 0rem !important
    }
  }


  @media all and (max-width: 450px) {


    .bigbig-font{
        font-size: 28px !important;
    }
    .first-quote{
        margin-top: 9rem;
    }
    .quate2-img{
        left: 32%;
        top: -44%;
    }
    .contact-us label{
        margin-left: 0rem !important;
    }
    .quate-title{
        font-size: 11.8px !important;
    }
    .p-line-first.nom-2{
        top: 1rem !important
    }
    .p-line-miss.nom-2{
        top: 0.5rem !important;
    }
}
